{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/detail.css' %}">
    <title>{{question.question_text}}</title>
</head>
<body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{question.question_text}}</h1></legend>
            {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
            {% endif %}
            {% for choise in question.choise_set.all%}
                <input type="radio"
                    name = "choise"
                    id="choise{{forloop.counter}}"
                    value = "{{choise.id}}"
                >
                <label for="choise{{forloop.counter}}">
                    {{choise.choise_text}}
                    <br>
                </label>
            {% endfor %}
            <input type="submit" value = "votar">
        </fieldset>
    </form>    
</body>
</html>




